@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
